
.navigation-li {
    /* display: none; */
}

.left-container,
.right-container,
.middle-container {
    float: left;
    width: 33%;
    height: 100%;
}

.left-container,
.right-container {
    /* width: 25%; */
}

.right-container {
    /* border: 2px solid gray; */
}

.left-container{
    /* border: 2px solid orange; */
}

.middle-container {
    border: 2px green solid;
    max-height: fit-content;
    width: 50%;
}

