.middle-container {
    height: 60vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
    background-color: rgb(250, 250, 182);
    border-radius: 20px;
    margin-top: 20px;
}

h2 {
    display: flex;
    justify-content: center;

}

.errors-li {
    height: 45px;
    padding: 0;
    margin: 0;
}

.errors {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin: 0;
    padding: 0;
    color: red;
}

.note-form {
    display: inline;
    flex-direction: column;
    justify-content: center;
}

.form {
    display: flex;
    flex-direction: flex;
}

.left-container {
    color: white;
    width: 25%;
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

form {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.title-div{
    display: flex;
    justify-content: center;
    padding: 2%;
}

.content-div {
    display: flex;
    flex-direction: column;
    padding: 1%;
    text-align: left;
    justify-content: center;
    align-items: center;
}

.input-title {
    border: none;
    width: 200px;
    height: 35px;
}

.edit-content {
    resize: none;
    border: none;
    list-style: solid;
    overflow-y: hidden;
    background-color: rgb(250, 250, 250);
    height: 100px;
    width: 200px;
    
}

.button-div {
    display: flex;
    justify-content: center;
}

.edit-btn {
    margin: 2%;
    border-radius: 6px;
    border: .5px solid ;
    background-color: ghostwhite;
    font-weight: 500;
}

.edit-btn:hover {
    background-color: rgba(160, 160, 160, 0.336);
    border: .5px solid ;
}

.cancel-btn {
    margin: 2%;
    border-radius: 6px;
    border: .5px solid ;
    background-color: ghostwhite;
    font-weight: 500;
}

.cancel-btn:hover {
    background-color: rgba(220, 220, 220, 0.37);
    border: .5px solid ;
}