

.middle-container {
    border: 2px solid red;
    height: 80vh;
    display: flex;
    justify-content: center;
    flex-direction: column;
    width: 50%;
}

.note-form {
    display: inline;
    flex-direction: column;
    justify-content: center;
    /* border: 2px solid green; */
   
}

/* .navigation-li {
    display: none;
} */

.form {
    display: flex;
    flex-direction: flex;
}

.left-container {
    background-color: rgba(12, 4, 4, 0.486);
    color: white;
    width: 25%;
}

h1 {
    font-size: 50px;
    display: flex;
    justify-content: center;
}

form {
    display: inline;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 2%;
}

.title-div{
    display: flex;
    justify-content: center;
    padding: 2%;
}
.content-div {
    display: flex;
    flex-direction: column;
    padding: 1%;
    text-align: left;
    justify-content: center;
    align-items: center;
}

textarea {
    resize: none;
border: none;
    list-style: solid;
    overflow-y: hidden;
    background-color: rgb(250, 250, 250);
    
}

.title-div input,
.content-div textarea {
    /* border: 1px solid rgba(0, 0, 0, 0.24); */

}

.button-div {
    display: flex;
    justify-content: flex-end;
}

.edit-btn {
    margin: 2%;
    border-radius: 6px;
    border: .5px solid ;
    background-color: ghostwhite;
    font-weight: 500;
}

.edit-btn:hover {
    background-color: rgba(160, 160, 160, 0.336);
    border: .5px solid ;
}

.cancel-btn {
    margin: 2%;
    border-radius: 6px;
    border: .5px solid ;
    background-color: ghostwhite;
    font-weight: 500;
}

.cancel-btn:hover {
    background-color: rgba(220, 220, 220, 0.37);
    border: .5px solid ;
}