.image-wrapper{
    background-color: beige;
    height: 93vh;    
}

.all-images {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 5%;
}

.image{
    display: flex;
    justify-content: center;
    height: auto;
}
img {
    width: 500px;
    border-radius: 25px;
}

footer a {
    background-color: beige;
}

footer {
    background-color: beige;
    padding-bottom: 20px;
    margin-bottom: 20px;
}


.image-wrapper h1 {
    padding-top: 45px;
    padding-bottom: 0;
}