.all-images {
    display: flex;
    justify-content: center;
    /* flex-direction: column; */
    align-items: center;
    margin: 5%;
}

.image{
    display: flex;
    justify-content: center;
    /* max-width: 300px; */
    height: auto;
}
img {
    width: 500px;
    border-radius: 25px;
}