*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.loginsignup > div {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.navlinks {
    margin: 0px;
    padding: 0px;
    display: inline;
    align-items: center;
    justify-content: space-around;
    text-decoration: none;
    padding-top: 12px;
}
.navbar-div {
    padding: 0 25px;
}
.banner-text {
    padding-right: 100px;
    padding-top: 12px;
    font-family: monospace;
}


.navigation-li {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    background-color: #43a0c4;

}
.navlinkss a {
    /* text-decoration: none; */
    list-style-type: none;
    margin: 15px;
    list-style: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.527);
}

.navigation-li a {
    text-decoration: none;
    list-style-type: none;
    margin: 15px;
    list-style: none;
    font-size: 15px;
    color: rgba(0, 0, 0, 0.527);
}

.profile-btn {
    /* padding: 2%; */
    /* border: transparent; */
    font-size: 15px;
    text-align: center;
    margin-right: 5%;
}


.navbar-div {
    display: flex;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
    /* overflow: hidden; */
    /* text-overflow: ellipsis; */
}

.logout{
    font-size: 15px;
    text-align: center;
    margin-right: 5%;
}