*{
    font-family:Verdana, Geneva, Tahoma, sans-serif
}

.navbar {
    display: flex;
    align-items: center;
}

.navlinks {
    margin: 0px;
    padding: 0px;
    display: inline;
}

.navbar-div {
    padding: 0 ;
    margin: 0;
}

.banner-text {
    padding-right: 90px;
    font-family: monospace;
    background-color: #fdce77;

}

.navigation-li {
    display: flex;
    list-style-type: none;
    align-items: center;
    justify-content: space-around;
    background-color: #fdce77;

}
.navlinkss a {
    text-decoration: none; 
    list-style-type: none;
    color: rgba(0, 0, 0, 0.527);
    background-color: #fdce77;
}

.navlinkss {
    background-color: #fdce77;

}

.navigation-li a {
    text-decoration: none;
    list-style-type: none;
    margin: 15px;
    list-style: none;
    font-size: 20px;
    color: rgba(0, 0, 0, 0.527);
}

#profile-btn {
    padding: 0 8px;
    margin: 0;
    border-radius: 6px;
    background-color: beige;
    padding: 0 8px;

}

.fas-fa-user-circle{
    margin: 0;
    padding: 0;
}

.profile-btn:hover {
    background-color: orange;
}

#login-demo-button {
    text-decoration: none; 
    list-style-type: none;
    border: none;
    color: rgba(0, 0, 0, 0.527);
}

.navbar-div {
    background-color: #fdce77;
    display: flex;
    text-align: center;
    font-size: 14px;
    white-space: nowrap;
}

.logout{
    font-size: 15px;
    text-align: center;
    margin-right: 5%;
    border-radius: 4px;
    border: 1px solid black;
} 

.some-class {
    border: 1px solid black;
    background-color: white;
    padding: 20px;
    border-radius: 6px;
}

.footer {
    display: flex;
    justify-content: space-between;
    padding: 0 150px;
    margin-top: 285px;
}

.profile-dropdown {
    height: 30px;
}

.logout:hover {
    background-color: transparent;
}

.some-class li {
    padding: 5px;

}